.price-del{
    font-size: 0.9rem;
    font-weight: bold;
}

.cursor-pointer{
    cursor: pointer;
}
.cursor-pointer:hover{
    color: rgb(255, 81, 0);
}
.banner-category{
    height: 25em;
    object-position: center;
    object-fit: fill;
}
.img-list{
    width: 12em!important;
}